@media only screen and (min-width: 560px) and (max-width: 979px) {

    /********************* BUTTONS *********************/
    #run-btn::after {
        content: 'Run';
    }

    #test-btn::after {
        content: 'Test';
    }

    #save-btn::after {
        content: 'Save';
    }

    #new-btn::after {
        content: 'New';
    }

    #format-btn::after {
        content: 'Format';
    }

    #contact-btn::after {
    }

    #email-btn::after {
        content: 'Email me';
    }

    #bug-btn::after {
        content: 'Report Issue';
    }
}