<nav id="ext-nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#collapsable-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">Javalab</a>
        </div>

        <form class="navbar-form navbar-left">
            <div class="input-group">
                <div class="form-group">
                    <angucomplete-alt id="search-input"
                                      pause="100"
                                      placeholder="Select class or test"
                                      initial-value="initialValue"
                                      selected-object="selectedFile"
                                      local-data="javaClasses"
                                      search-fields="name, path"
                                      title-field="name"
                                      description-field="path"
                                      minlength="0"
                                      auto-match="true"
                                      match-class="highlight"
                                      input-class="form-control form-control-small"></angucomplete-alt>
                </div>
                <div class="input-group-btn">
                    <button id="run-btn" class="btn btn-default " data-ng-click="runCode()">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button id="test-btn" class="btn btn-default" data-ng-click="runTests()">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </div>
            </div>
        </form>

        <form class="navbar-form navbar-left">
            <button id="save-btn" class="btn btn-primary" data-ng-click="save()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>

            <div class="btn-group">
                <button id="new-btn" class="btn btn-success" data-ng-click="new()">
                    <span class="glyphicon glyphicon-file"></span>
                </button>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Groovy</a></li>
                    <li><a href="#">Scala</a></li>
                </ul>
            </div>
        </form>

        <div class="collapse navbar-collapse" id="collapsable-menu">
            <form class="navbar-form navbar-right ">
                <a href="https://github.com/sdmoralesma/javalab/wiki" target="_blank">
                    <img src="/assets/images/github-mark.png" alt="javalab wiki">
                </a>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="ext-libraries" class="col-sm-12 col-md-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title glyphicon glyphicon-th">&nbsp;Project</span>

                <div class="btn-group pull-right">
                    <a data-ng-click="formatCode()" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-indent-left"></span>
                    </a>

                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ng-click="addNode('file', selected)">
                                <span class="glyphicon glyphicon glyphicon-file">&nbsp;File</span>
                            </a></li>
                            <li><a data-ng-click="addNode('folder', selected)">
                                <span class="glyphicon glyphicon-folder-close">&nbsp;Folder</span>
                            </a></li>
                        </ul>
                    </div>
                    <a data-ng-click="editNode(selected)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a data-ng-click="removeNode(selected)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                <div treecontrol class="tree-classic"
                     tree-model="treedata"
                     options="treeOptions"
                     on-selection="showSelected(node)"
                     expanded-nodes="expandedNodes"
                     selected-node="selected">
                    {{node.name}}
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title glyphicon glyphicon-book">&nbsp;Description</span>
            </div>

            <div class="panel-body">
                <textarea id="description" data-ng-model="description" rows="3"></textarea>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title glyphicon glyphicon-book">&nbsp;Tags</span>
            </div>

            <div class="panel-body">
                <textarea id="tags" data-ng-model="tags" rows="3"></textarea>
            </div>
        </div>

    </div>

    <div id="code-editor" data-ng-model="appModel.code" class="panel panel-default"></div>

    <textarea id="console" readonly data-ng-model="appModel.console" class="form-control"></textarea>

</div>