apply plugin:'application'
mainClassName = "{runnableClassPath}"

apply plugin: 'java'
sourceCompatibility = '1.8'
[compileJava, compileTestJava]*.options*.encoding = 'UTF-8'

repositories {
    mavenCentral()
}

test {
    testLogging {
        exceptionFormat = 'full'
        showExceptions = true
        showStackTraces = true
        events "PASSED", "STARTED", "FAILED", "SKIPPED"
    }
}

dependencies { {dependenciesSet} }
